.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}
@media (max-width:992px) {
    .main .users{
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:767px) {
    .main .users{
        grid-template-columns: 1fr;
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 50%;
}

.main .undefiner-user{
    width: 100%;
}
.main .undefiner-user p{
    font-size: 2.1rem;
    color: var(--darkblue);
    text-align: center;
    margin-right: 10%;
}
.main .search-card{
    width: 25%;
}
.content .buttons{
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .buttons button{
    padding: 10px 15px;
    font-size: 1rem;
    margin-right: 20px;
    border: 0;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    background-color: var(--darkblue);
}
.content .buttons button:disabled {
    opacity: 0.5;
}